[submodule "metfrag-cli-batch/2.4.3"]
	path = metfrag-cli-batch/2.4.3
	url = https://github.com/phnmnl/container-metfrag-cli-batch/
[submodule "ipo/1.7.5"]
	path = ipo/1.7.5
	url = https://github.com/phnmnl/container-ipo
[submodule "isatab-create/0.9.5"]
	path = isatab-create/0.9.5
	url = https://github.com/phnmnl/container-isatab-create/
[submodule "simid/1.0.0"]
	path = simid/1.0.0
	url = https://github.com/phnmnl/container-simid/
[submodule "mtblisa/0.9.5"]
	path = mtblisa/0.9.5
	url = https://github.com/phnmnl/container-mtblisa
[submodule "phnmnl-batch_correction/phenomenal_2018_02_22"]
	path = phnmnl-batch_correction/phenomenal_2018_02_22
	url = https://github.com/phnmnl/container-batch_correction/
[submodule "csifingerid/4.0"]
	path = csifingerid/4.0
	url = https://github.com/phnmnl/container-csifingerid
[submodule "bruker2batman/1.0"]
	path = bruker2batman/1.0
	url = https://github.com/phnmnl/container-bruker2batman/
