[submodule "metfrag-cli-batch/2.4.3"]
	path = metfrag-cli-batch/2.4.3
	url = https://github.com/phnmnl/container-metfrag-cli-batch/
[submodule "simid/1.0.0"]
	path = simid/1.0.0
	url = https://github.com/phnmnl/container-simid/
